<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">
    <test verbose="2" preserve-order="true" name="parallel test">
        <classes>
            <class name="runner.TestRunner">
            </class>
        </classes>
    </test>
</suite>